# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
                                                        ; This host definition will inherit all variables that are defined
                                                        ; in (or inherited by) the linux-server host template definition.
        host_name               LinuxGSM
        alias                   csserver
        address                 10.0.2.15
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       LinuxGSM
        service_description             HTTP
        check_command                   check_http
        notifications_enabled           1
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       LinuxGSM
        service_description             Alive
        check_command                   check-host-alive
        notifications_enabled           0
        }


